---
import { MainHeading } from "../components/MainHeading";
import { PostExcerpt } from "../components/PostExcerpt";
import BlogLayout from "../layouts/BlogLayout.astro";
import { sortPosts } from "../utils/sortPosts";

const posts = sortPosts(await Astro.glob("./blog/*.{md,mdx}"));
---

<BlogLayout title="Blog" description="My thoughts on software development">
  <div>
    <MainHeading className="mb-10 sm:mb-12">Blog</MainHeading>
    <div class="flex flex-col gap-10">
      {
        posts.map(({ frontmatter, url }) => (
          <PostExcerpt url={url} post={frontmatter} />
        ))
      }
    </div>
  </div>
</BlogLayout>
