---
import { MainHeading } from "../components/MainHeading";
import BlogLayout from "../layouts/BlogLayout.astro";
import { sortPosts } from "../utils/sortPosts";

const posts = sortPosts(await Astro.glob("./blog/*.{md,mdx}"));
---

<BlogLayout title="Blog" description="My thoughts on software development">
  <div>
    <MainHeading className="mb-8">Blog</MainHeading>
    <ul>
      {
        posts.map(({ frontmatter: { title, description, pubDate }, url }) => (
          <li>
            <a href={url}>
              <h2>{title}</h2>
              <div>{pubDate}</div>
              <div>{description}</div>
              <br />
            </a>
          </li>
        ))
      }
    </ul>
  </div>
</BlogLayout>
