---
import Layout from "../layouts/Layout.astro";
import { sortPosts } from "../utils/sortPosts";

const posts = sortPosts(await Astro.glob("./blog/*.{md,mdx}"));
---

<Layout title="Title">
  <h1>Blog</h1>
  <ul>
    {
      posts.map(({ frontmatter: { title, description, pubDate }, url }) => (
        <li>
          <a href={url}>
            <h2>{title}</h2>
            <div>{pubDate}</div>
            <div>{description}</div>
            <br />
          </a>
        </li>
      ))
    }
  </ul>
</Layout>
