---
import { Author } from "../components/Author";
import Layout from "./Layout.astro";

export type Props = {
  title: string;
  description: string;
};

const { title, description } = Astro.props;
---

<Layout title={title} description={description}>
  <div
    class="lg:flex-row lg:items-start flex flex-col justify-between gap-8 relative"
  >
    <slot />
    <div class="max-w-[300px] sticky top-0 pt-14 pb-14 lg:pb-0">
      <Author />
      <slot name="aside" />
    </div>
  </div>
</Layout>
