---
import Layout from "./Layout.astro";

export interface Props {
  content: {
    title: string;
    description: string;
    pubDate: string;
  };
}

const {
  content: { title, description, pubDate },
} = Astro.props;
---

<Layout title={title}>
  <article itemscope itemtype="http://schema.org/Article">
    <h1 itemprop="name headline">{title}</h1>
    <div>{pubDate}</div>
    <meta itemprop="publisher" content="Tomasz Chmielnicki" />
    <div
      class="prose prose-slate dark:prose-invert prose-img:rounded-xl prose-pre:rounded-xl prose-h2:font-semibold"
    >
      <slot />
    </div>
  </article>
</Layout>
