---
import { PostTop } from "../components/PostTop";
import Layout from "./Layout.astro";

export interface Props {
  content: {
    title: string;
    description: string;
    pubDate: string;
  };
}

const {
  content: { title, description, pubDate },
} = Astro.props;
---

<Layout title={title}>
  <article itemscope itemtype="http://schema.org/Article">
    <PostTop title={title} pubDate={pubDate} />
    <meta itemprop="publisher" content="Tomasz Chmielnicki" />
    <div
      class="prose prose-slate dark:prose-invert prose-img:rounded-xl prose-pre:rounded-xl prose-h2:font-medium sm:prose-p:text-lg dark:prose-p:text-slate-400 sm:prose-headings:text-3xl"
    >
      <slot />
    </div>
  </article>
</Layout>
