---
import { Container } from "../components/Container";
import { Header } from "../components/Header";

export interface Props {
  title: string;
}

const { title } = Astro.props;

const pathname = new URL(Astro.request.url).pathname;
const activeRoute = pathname.slice(1);
---

<!DOCTYPE html>
<html lang="en" class="selection:bg-yellow-300">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <Container>
      <Header activeRoute={activeRoute} />
      <slot />
    </Container>
  </body>
</html>
