---
import { BackToBlog } from "../../../components/BackToBlog";
import BlogListLayout from "../../../layouts/BlogListLayout.astro";
import { getTaggedPosts } from "../../../utils/getTaggedPosts";
import { getTags } from "../../../utils/getTags";
import { toKebabCase } from "../../../utils/toKebabCase";
import type { Post } from "../../../utils/types";

const tag = Astro.params.tag as string;
const allPosts = await Astro.glob<Post>("../*.{md,mdx}");

const postsFromTag = getTaggedPosts(tag, allPosts);
const tagFormatted = postsFromTag[0].frontmatter.tags.find(
  (postTag) => toKebabCase(postTag) === tag
);

export async function getStaticPaths() {
  const allPosts = await Astro.glob<Post>("../*.{md,mdx}");
  const tags = getTags(allPosts);
  return tags.map((tag) => ({ params: { tag: toKebabCase(tag) } }));
}
---

<BlogListLayout
  title={`Posts tagged ${tagFormatted}`}
  description={`Posts tagged ${tagFormatted}`}
  posts={postsFromTag}
>
  <div class="-ml-4 mb-2 sm:mb-4" slot="top">
    <BackToBlog />
  </div>
</BlogListLayout>
